
<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('assetsFront/vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assetsFront/css/fontawesome.css') }}">
            <link rel="stylesheet" href="{{ asset('assetsFront/css/templatemo-snapx-photography.css') }}">
            <link rel="stylesheet" href="{{ asset('assetsFront/css/owl.css') }}">
            <link rel="stylesheet" href="{{ asset('assetsFront/css/animate.css') }}">
            <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('assetsFront/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assetsFront/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            
            <script src="{{asset('assetsFront/js/isotope.min.js') }}"></script>

            <script src="{{asset('assetsFront/js/owl-carousel.js') }}"></script>
            <script src="{{asset('assetsFront/js/isotope.min.js') }}"></script>
            <script src="{{asset('assetsFront/js/tabs.js') }}"></script>

            <script src="{{asset('assetsFront/js/popup.js') }}"></script>

            <script src="{{asset('assetsFront/js/custom.js') }}"></script>

        {% endblock %}
    </head>
    <body>
        {% include "navBar.html.twig" %}

        {% block body %}
        <!-- Trigger/Open The Modal -->

        {# Display flash messages #}
{% endblock %}
{% include "footer.html.twig"%}
    </body>
</html>
